@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #42454f;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
