.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}
.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.4s ease-in-out forwards;
}

.svg-container {
    text-align: center;
}

.success {
    color: #fff;
    font-family: Source Sans Pro;
    text-align: center;
    margin: 1rem 0 60px;
}

.sucess p {
    font-size: 18;
}

.success h1 {
    font-size: 20px;
    font-weight: 700;
}

.submit-header {
    margin: 0 auto;
}

.submit-header svg {
    display: inline-block;
    margin-top: 1rem;
    width: 50px;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}
@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}
