.background {
    height: 100vh;
    background: rgb(126, 231, 119);
    background: linear-gradient(
        45deg,
        rgba(126, 231, 119, 1) 0,
        rgba(14, 17, 24, 1) 0%,
        rgba(38, 46, 63, 1) 100%
    );
    overflow-x: hidden;
}
.submitted-margin {
    margin-top: 15rem;
}
